#house {
    font-size: 3rem;
}
.nav-link:active {
    background-color: grey;
}
#signUpButton {
    padding: 1em 4em;
    border-radius: 1.5em;
    font-size: 2em;
    text-decoration: underline;
    margin-right: .25em;
}

/*Media Query*/
@media screen and (max-width: 992px) {
    #signUpButton {
        padding: 1em 0;
        margin: 1em auto;
    }
}